<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>

<h2>This is your question</h2>
<%= @query %>

<h2>The coach answers this :</h2>
<p>Nice try, buddy</p>

<%= link_to "Ask a new question", "/ask" %>
